@import "tailwindcss";

/* Global styles */
body {
  background-color: #F5F5F5;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

:root {
  --font-playfair: "Playfair Display", serif;
  --font-roboto: "Roboto", sans-serif;
}


/* Fonts */
.font-playfair {
  font-family: var(--font-playfair);
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

/* Colors */
.text-color {
  color: #4A4A4A;
}

.title-color {
  color: #2e2e2e;
}

/* Buttons */
.main-button {
  background-color: #8B7355;
  border: 1px solid #8B7355;
  color: #FFFFFF;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.main-button:hover {
  background-color: #ffffff00;
  color: #8B7355;
  border: 1px solid #8B7355;
  transition: all 0.6s ease-in-out;
}

/* HomePage */
.main, .welcome {
  background-color: #F0E6DD;
}



/* Header */
header {
  border-bottom: 1px solid #00000033;
}

.nav a {
  text-decoration: none;
  color: #4A4A4A;
}

/* Card */
.card {
  border: 1px solid #000000;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

