@import "tailwindcss";

/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 375px;
  }
}

:root {
  --font-playfair: "Playfair Display", serif;
  --font-roboto: "Roboto", sans-serif;
}

/* Fonts */
.font-playfair {
  font-family: var(--font-playfair);
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

/* Colors */
.text-color {
  color: #4a4a4a;
}

.title-color {
  color: #2e2e2e;
}

.accent-color {
  color: #8b7355;
}

/* Buttons */
.main-button {
  background-color: #8b7355;
  border: 1px solid #8b7355;
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.main-button:hover {
  background-color: #ffffff00;
  color: #8b7355;
  border: 1px solid #8b7355;
  transition: all 0.6s ease-in-out;
}

.cancel-button {
  background-color: #ffffff;
  border: 1px solid #6c757d;
  color: #6c757d;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.cancel-button:hover {
  background-color: #5a6268;
  color: #ffffff;
  border: 1px solid #5a6268;
  transition: all 0.6s ease-in-out;
}

.delete-button {
  background-color: #ffffff00;
  border: 1px solid var(--color-red-600);
  color: var(--color-red-600);
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.delete-button:hover {
  background-color: var(--color-red-600);
  color: #ffffff;
  border: 1px solid var(--color-red-600);
  transition: all 0.6s ease-in-out;
}

/* Inputs */
input {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

input:hover {
  border: 1px solid #8b7355;
  transition: all 0.3s ease-in-out;
}

select {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

select:hover {
  border: 1px solid #8b7355;
  transition: all 0.3s ease-in-out;
}

/* HomePage */
.main,
.welcome,
.request {
  background-color: #f0e6dd;
}

/* Header */
header {
  border-bottom: 1px solid #00000033;
}

/* Footer */
footer {
  border-top: 1px solid #00000033;
}

/* Cards */
.card {
  border: 1px solid #000000;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.collectionCard:hover .collectionCardName {
  color: #8b7355;
  transition: all 0.3s ease-in-out;
}

/* Icons */
.icon {
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  transition: all 0.3s ease-in-out;
  color: #8b7355;
}
